@{
    ViewData["Title"] = "Home page";
}


<link rel="stylesheet" href="~/Content/index.css" asp-append-version="true" />

<div class="wrapper">
    <div class="text-center mt-4 name1">
        Введіть номер точки
    </div>

    <form action="@Url.Action("InformationBoard", "Home")" method="POST" enctype="multipart/form-data" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="number" name="pointId" id="pointId" placeholder="ID точки">
        </div>
        <button class="btn mt-1">Відправити</button>
    </form>
</div>

<script>
    
</script>